<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="All Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="db"/>
        <env name="DB_NAME" value="lab7_db"/>
        <env name="DB_USER" value="lab7_user"/>
        <env name="DB_PASSWORD" value="lab7_pass"/>
        <env name="TEST_MODE" value="true"/>
    </php>
</phpunit>